<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="corrales_eventosEntities" connectionString="metadata=res://*/Entidades.eventos.csdl|res://*/Entidades.eventos.ssdl|res://*/Entidades.eventos.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=corrales_eventos&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>